html, body {
	width: 100%;
	height: 100%;
	margin     : 0;
	padding    : 0;
	background : #faf8ef;
}

.navbar-brand {
	position: absolute;
	width: 100%;
	left: 0;
	text-align: center;
	color: black;
	margin:0 auto;
}
.navbar-toggle {
	z-index:3;
}

.glyphicon {
	color: black;
}

/* Sidebar menu */
.sidebar {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0;
	left: 0;
	background-color: #ffffff; /* White*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* Sidebar items */
.sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

/* Mouse hover on sidebar items */
.sidebar a:hover {
	color: #f1f1f1;
}

/* Style for sidebar close button (top right corner) */
.sidebar .close-button {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidebar {padding-top: 15px;}
	.sidebar a {font-size: 18px;}
}

.container {
	position : relative;
	width    : 500px;
	margin   : 0 auto;
}

.game-container {
	position      : relative;
	box-sizing    : border-box;
	height        : 500px;
	width         : 500px;
	/* margin-top    : 40px; */
	padding       : 15px;
	cursor        : default;
	background    : black;
}

.fadein-container {
	animation : fadein 1s;
	-moz-animation : fadein 1s;
	-webkit-animation : fadein 1s;
	-o-animation : fadein 1s;
}

.grid-container {
	position : absolute;
	z-index  : 1;
}

.grid-row {
	margin-bottom : 4px;
}

.grid-row:nth-child(3n+3) {
	margin-bottom : 7px;
}

.grid-row:last-child {
	margin-bottom : 0;
}

.grid-row:after {
	content : "";
	display : block;
	clear   : both;
}

.grid-cell {
	float         : left;
	height        : 48px;
	width         : 48px;
	margin-right  : 4px;
	padding       : 0;
	background    : white;
}

.grid-cell:nth-child(3n+3) {
	margin-right : 7px;
}

.grid-cell:last-child {
	margin-right : 0;
}

input[type=text], input[type=number] {
	height           : 48px;
	width            : 48px;
	padding          : 0;
	background-color : transparent;
	font-size        : 30px;
	color            : black;
	text-align       : center;
	border           : 0;
	outline          : none;
	font-weight:     : bold;
	-moz-appearance  : textfield;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
	margin             : 0;
	-webkit-appearance : none;
}

.control-container {
	/* position      : relative; */
	margin-top    : 40px;
	margin-bottom : 100px;
}

.button-container > * {
	/* margin-bottom : 20px; */
}
