<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Mad Sudoku</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type= "text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='style.css') }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<script src="{{ url_for('static',filename='timer.js') }}"></script>
		<script src="{{ url_for('static',filename='script.js') }}"></script>
	</head>
	<body>
		<!-- Navigation Bar, Source: https://www.w3schools.com/bootstrap/bootstrap_navbar.asp -->
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<h1 class="navbar-brand">MadSudoku</h1>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-left">
					<li><a href="#" onclick="openSidebar()"><span class="glyphicon glyphicon-menu-hamburger"> Challenges</span></a></li>
					<li><a href="#" data-toggle="modal" data-target="#info-modal"><span class="glyphicon glyphicon-info-sign"> Rules</span></a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" data-toggle="modal" data-target="#auth-modal"><span class="glyphicon glyphicon-log-in"> Login/Register</span></a></li>
					<li><a href="#" onclick="openStatsModal()"><span class="glyphicon glyphicon-signal"> Stats</span></a></li>
				</ul>
			</div>
		</nav>
		<!-- Side Bar, Source: https://www.w3schools.com/howto/howto_js_collapse_sidebar.asp -->
		<div id="left-sidebar" class="sidebar text-center">
			<a href="javascript:void(0)" class="close-button" onclick="closeSidebar()">&times;</a>
			<h3>Challenges</h3>
			<hr/>
			<div id="challenges-msg">
				No Challenges Available
			</div>
			<div id="challenges-list"></div>
		</div>
		<!-- Modals, Source: https://www.w3schools.com/howto/howto_css_modals.asp -->
		<!-- How-to-Play Modal -->
		<div id="info-modal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title text-center">HOW TO PLAY</h4>
					</div>
					<div class="modal-body">
						<p>Select your preferred challenge available in the left sidebar list</p>
						<p>The timer will automatically start. Hit the Check button to submit</p>
						<hr>
						<ol>
							<li>Sudoku is played on a grid of 9 x 9 spaces.</li>
							<li>Within the rows and columns are 9 “squares” (made up of 3 x 3 cells).</li>
							<li>Each row needs to be filled out with the numbers 1-9, without repeating any numbers within the row.</li>
							<li>Each row needs to be filled out with the numbers 1-9, without repeating any numbers within the column.</li>
							<li>Each square needs to be filled out with the numbers 1-9, without repeating any numbers within the square.</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<!-- Statistics Modal -->
		<div id="stats-modal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title text-center">STATISTICS</h4>
					</div>
					<div class="modal-body">
						<h1 id="stats-challenge" class="text-center"></h1>
						<h1 class="text-center" id="stats-time"></h1>
						<br>
						<h4 id="stats-msg" class="text-center">No Ongoing Challenge</h4>
						<div id="stats-ranks" style="display: none;">
							<h4 class="text-center">TOP 5 RANKS</h4>
							<div id="ranks-msg" class="text-center" style="display: none;">No Data</div>
							<table id="ranks-table" class="table table-responsive table-striped table-hover text-center">
								<tbody></tbody>
							</table>
						</div>
						<button id="share-btn" style="display: none;" type="button" onclick="shareStats()" class="btn btn-success center-block">SHARE <span class="glyphicon glyphicon-share" style="color:white;"></button>
						<div id="toast-share" class="text-center text-success" style="visibility: hidden;">
								Copied to clipboard
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Edit Username Modal -->
		<div id="username-modal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title text-center">EDIT USERNAME</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<input id="username-input" type="textarea" class="form-control" placeholder="New Username" required>
						</div>
						<div class="form-group">
							<input id="userpasswd-input" type="password" class="form-control" plcaseholder="password">
						</div>
						<div class="row">
							<button class="btn btn-success" onclick="updateUsername()">Save</button>
							<button class="btn btn-success" onclick="logout()">Logout</button>
						</div>
						<!-- <div class="form-group">
						</div>
						<div class="form-group">
						</div> -->
					</div>
				</div>
			</div>
		</div>
		<!-- Login/Register Modal -->
		<div id="auth-modal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title text-center">LOGIN</h4>
					</div>
					<div class="modal-body">
						<form role="form" method="POST" action="">
							<input type="hidden" name="_token" value="">
							<div class="form-group">
								<label class="control-label">Username</label>
								<div>
									<input type="textarea" class="form-control input-lg" name="login-username" value="">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Password</label>
								<div>
									<input type="password" class="form-control input-lg" name="login-password">
								</div>
							</div>
							<div class="form-group">
								<div>
									<button type="submit" class="btn btn-success">Login</button>
								</div>
							</div>
						</form>
						<h4 class="text-center">OR SIGNUP!</h4>
						<form role="form" method="POST" action="">
							<input type="hidden" name="_token" value="">
							<div class="form-group">
								<label class="control-label">Username</label>
								<div>
									<input type="textarea" class="form-control input-lg" name="register-name" value="">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Password</label>
								<div>
									<input type="password" class="form-control input-lg" name="register-password">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Confirm Password</label>
								<div>
									<input type="password" class="form-control input-lg" name="register-password-confirm">
								</div>
							</div>
							<div class="form-group">
								<div>
									<button type="submit" class="btn btn-success">
										Register
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Game board container -->
		<h1 id="challenge-title" class="display-1 text-center" style="margin-top: 30px;"></h1>
		<input type="hidden" id="challenge-id" value="">
		<div class="container board">
			<div class="row text-right">
				Good luck, <u class="text-primary"><a href="#" id="username-view" data-toggle="modal" data-target="#username-modal">
					{% if current_user.is_authenticated %}
						{{ current_user.user_name }}
					{% else %}
						Guest
					{% endif %}
					</a></u>
			</div>
			<div class="game-container">
				<div class="grid-container">
					<form action="#" name="sudoku-board">
						{% for i in range(9) %}
							<div class="grid-row">
								{% for j in range(9) %}
									<div class="grid-cell">
										<input type="text" maxlength="1" id="cell-input-{{ j+i*9 }}" class="cell-txt-input" required>
										<input type="hidden" maxlength="1" id="cell-hidden-{{ j+i*9 }}" value="">
									</div>
								{% endfor %}
							</div>
						{% endfor %}
						<div class="control-container">
							<div id="toast-challenge" class="text-center text-danger" style="display: none;"></div>
							<h2 class="text-center">Timer: <span id="hours">00</span>:<span id="mins">00</span>:<span id="seconds">00</span></h2>
							<button id="check-btn"  onclick="checkSolution()" class="btn btn-primary btn-block">Check</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
